# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\04. Project\01 - Ecommcere\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
